/* Colors */
/* #49d0b0 green */
/* #61e1ca green 2 */
/* #faf8fc */
/* #000 */
/* #fff */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; /* padronizar a borda */
}

body {
  background-color: #daf7eb;;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #daf7eb;
}

@media screen and (min-width: 992px) {
  .content {
    /* max-width: 992px; */
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
